.list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.btn {
  display: block;
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  color: cadetblue;
  background-color: seashell;
  border: royalblue;
  box-shadow: 3px 3px 6px 6px #fff;
}
